.sub-menu{
    display: none;
    position: relative;
    top:10px;
}
li{
    display: inline-block;
}
.sub-menu li {
    display: block;
}

.clearfix li:hover .sub-menu{
    display: block;
}

.main{
                                margin: 100px;
}

