body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('http://www.bluemaize.net/im/arts-crafts-sewing/party-balloons-4.jpg');
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.welcome-message {
    color: orange;
    font-family: 'Helvetica';
    font-size: 300%;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
    padding-top: 5%;
}

.content-site-message {
    color: #CEF0D4;
    font-family: 'Helvetica';
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin-top: 15%;
    text-align: center;
}

.choose-option {
    list-style: none;
    height: 125px;
    width: 125px;
    display: inline-block;
    margin-left: 10%;
    position: relative;
    right: 10%;
}

@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-o-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 130%;
    padding-top: 45%;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
    color: #CEF0D4;
    font-family: 'Helvetica';
    text-shadow: 1px 1px 2px #082b34;
}

    .round:hover {
        width: 130%;
        height: 130%;
        left: -15%;
        top: -15%;
        font-size: 33px;
        padding-top: 38px;
        -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        z-index: 2;
        text-decoration: none;
        border-size: 10px;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

a.red {
    background-color: yellow;
    color: gray;
    border-color: rgba(0,63,71,.2);
}

    a.red:hover {
        color: rgba(239,57,50,1);
    }

a.green {
    background-color: orange;
    color: yellow;
    border-color: rgba(0,63,71,.2);
}

    a.green:hover {
        color: rgba(1,151,171,1);
    }

a.yellow {
    background-color: cornflowerblue;
    color: black;
    border-color: rgba(0,63,71,.2);
}

    a.yellow:hover {
        color: rgba(252,227,1,1);
    }

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.green span {
    background: rgba(0,63,71,.7);
}

.red span {
    background: rgba(133,32,28,.7);
}

.yellow span {
    background: rgba(161,145,0,.7);
}

div.navbar.navbar-inverse.navbar-fixed-top {
    background-color: white;
    border-bottom-color: white;
}

.message-bubble {
    padding: 10px 0px 10px 0px;
}

    .message-bubble:nth-child(even) {
        background-color: #F5F5F5;
    }

    .message-bubble > * {
        padding-left: 10px;
    }

.panel-body {
    padding: 0px;
    overflow: scroll;
    overflow-x: hidden;
    height: 440px;
}

.panel-heading {
    background-color: aquamarine !important;
    color: white !important;
}

#input-message-content {
    width: 400px;
    height: 32px;
}

#input-submit-button {
    width: 60px;
    height: 32px;
    color: cornflowerblue;
    font-weight: 700;
}


.group-enter {
    width: 250px;
    height: 250px;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
    background-color: orange;
    padding: 2%;
    border-color: rgba(0,63,71,.2);
    color: rgba(0,63,71,.2);
}

#group-enter:hover {
    color: aquamarine;
    border-color: aquamarine;
}

.list-group-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.hidden-elements {
    visibility: hidden;
}

#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }



.user-profiles-list-basic {
    line-height: 1;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

    .user-profiles-list-basic li {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        text-align: left;
        font: normal 16px sans-serif;
        padding: 15px 30px 15px 20px;
        margin: 12px;        
        border: 1px solid #dbe3e7;
        box-shadow: 0 2px 3px #dbe3e7;
    }

    .user-profiles-list-basic .user-avatar {
        float: left;
        width: 100px;
        text-align: left;
    }

        .user-profiles-list-basic .user-avatar img {
            border-radius: 50%;
            border: 0;
        }

    .user-profiles-list-basic p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        margin-top: 20px;
        max-width: 340px;
    }

        .user-profiles-list-basic p a {
            color: #5d6569;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
        }

        .user-profiles-list-basic p span {
            display: block;
            font-size: 13px;
            color: #808d93;
            padding-top: 4px;
        }

    .user-profiles-list-basic .delete {
        background-color: #de4a4a;
        border-radius: 50%;
        color: #fff;
        font-size: 13px;
        line-height: 22px;
        width: 22px;
        height: 22px;
        position: absolute;
        top: -10px;
        right: -10px;
        text-align: center;
        text-decoration: none;
    }

/* Making the list responsive */

@media (max-width: 400px) {

    .user-profiles-list-basic li {
        margin: 10px 0;
    }


    .user-profiles-list-basic .delete {
        top: 10px;
        right: 10px;
    }
}

nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
}

.navbar-item.brand-text {
    font-weight: 300;
}

.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
}

.columns {
    width: 100%;
    height: 100%;
}

.menu-label {
    color: #8F99A3;
    letter-spacing: 1.3;
    font-weight: 700;
}

.menu-list a {
    color: #0F1D38;
    font-size: 14px;
    font-weight: 700;
}

    .menu-list a:hover {
        background-color: transparent;
        color: #276cda;
    }

    .menu-list a.is-active {
        background-color: transparent;
        color: #276cda;
        font-weight: 700;
    }

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
    overflow: scroll;
    overflow-x: hidden;
    height: 60%;
    width: 500px;
}

.card-header-title {
    color: #8F99A3;
    font-weight: 400;
}

.info-tiles {
    margin: 1rem 0;
}

    .info-tiles .subtitle {
        font-weight: 300;
        color: #8F99A3;
    }

.hero.welcome.is-info {
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
}

.hero.welcome .title, .hero.welcome .subtitle {
    color: hsl(192, 17%, 99%);
}

.card .content {
    font-size: 14px;
}

.card-footer-item {
    font-size: 14px;
    font-weight: 700;
    color: #8F99A3;
}

    .card-footer-item:hover {
    }

.card-table .table {
    margin-bottom: 0;
}

.events-card .card-table {
    max-height: 250px;
    overflow-y: scroll;
}

#home-nav{
   color: deepskyblue;
}

div.column.is-6{
    width: 100%;
}

div.card.events-card{
    width: 100%;
}

.name-group-admin{
    color: red;
    font-size: 25px;
}

.author{
    color: purple;
}

.gender{
    color: burlywood;
}
