@model IEnumerable<BirthdaySite.ViewModels.Forum.GroupViewModel>
<h2 class="welcome-message">EventSite`s Forum</h2>
@Html.AntiForgeryToken();
<h2 class="content-site-message">
    Choose a group that you want to be a part of!
</h2>

<div class="list-group-container">
    @{
        var count = 0;
        foreach (var group in Model)
        {
            count++;
            if (count % 10 != 0)
            {
                @Ajax.ActionLink(string.Format("{0}", group.Name), "RenderMessages",
                            new { groupName = group.Name },
                             new AjaxOptions
                             {
                                 HttpMethod = "Get",
                                 Url = Url.Action("RenderMessages", "Forum"),
                                 InsertionMode = InsertionMode.Replace,
                                 UpdateTargetId = "content-forum"
                             },
                             new { @class = "group-enter" })
            }
            else
            {
                <br />
                <br />
                <br />
                <br />
            }
        }
    }   
</div>
<div id="content-forum">

</div>
