<form action="mysuperscript.php" autocomplete="on">
    <h1 id="sign-up"> Sign up </h1>
    <p>
        <label id="labelche" for="usernamesignup" class="uname" data-icon="u">Your Username</label>
        <input class="username" id="inputinput" name="usernamesignup" required="required" type="text" placeholder="Enter username..." />
    </p>
    <p>
        <label id="labelche" for="fistnamessignup" class="fname" data-icon="u">Your FirstName</label>
        <input class="firstname" id="inputinput" name="firstnamesignup" required="required" type="text" placeholder="Enter firstname..." />
    </p>
    <p>
        <label id="labelche" for="lastnamesignup" class="lname" data-icon="u">Your LastName</label>
        <input class="lastname" id="inputinput" name="lastnamesignup" required="required" type="text" placeholder="Enter lastname..." />
    </p>
    <p>
        <label id="labelche" for="emailsignup" class="youmail" data-icon="e">Your Email</label>
        <input class="email" id="inputinput" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com" />
    </p>
    <p>
        <label id="labelche" for="gendersignup" class="gender" data-icon="e">Select Gender: </label>
        <labe for="gendersignup" class="gender" data-icon="e">Male</label>
            <input class="male" id="ersignup" name="gendersignup" required="required" type="radio" />
            <label for="gendersignup" class="gender" data-icon="e">Female</label>
            <input class="" id="ersignup" name="gendersignup" required="required" type="radio" />
    </p>
    <p>
        <label id="labelche" for="citysignup" class="youcity" data-icon="e">Your City</label>
        <input class="city" id="inputinput" name="citysignup" required="required" type="city" placeholder="Select city..." />
    </p>
    <p>
        <label id="labelche" for="countrysignup" class="youcountry" data-icon="e">Your Country</label>
        <input class="country" id="inputinput" name="countrysignup" required="required" type="country" placeholder="Select country..." />
    </p>
    <p>
        <label id="labelche" for="adresssignup" class="youadress" data-icon="e">Your Adress</label>
        <input class="address" id="inputinput" name="adresssignup" required="required" type="adress" placeholder="Select adress..." />
    </p>
    <a id="sign-up" href="#/signup">Submit</a>
</form>