<div class="row">
    <h1 class="welcome-message">Welcome To EventsSite!</h1>
    <h2 class="content-site-message"> Here you will find all about your friends birthdays and how 
    to suprise them!</h2>

    <ul>
        <li class="choose-option"><a href="/birthdays" class="round green">Birthdays<span class="round">See your <br />friends birthday!</span></a></li>
        <li class="choose-option"><a href="/forum" class="round red">Forum<span class="round">Chat with your friends!</span></a></li>
        <li class="choose-option"><a href="/presents" class="round yellow">Presents<span class="round">Get idea <br />about what present to get!</span></a></li>
    </ul> 
</div>