.mainList li>ul{
    display: none;
}
.mainList {
    list-style: none;
}
    /*.mainList .subList :hover{
        text-decoration: underline;
    }*/

.mainList li:hover ul{
   display:  block; 
}

.subList a:hover{
    text-decoration: underline;
}

.mainList li ul li{
   list-style: none;
   position:  relative;
   right: 35px;
   color: #B5C4DC;
   text-decoration: none;
   font-size: 15px;
}